{%- liquid
  assign current_variant = current_variant | default: product.selected_or_first_available_variant
  assign total_stock = current_variant.inventory_quantity | default: 0
  assign continue_selling = current_variant.inventory_policy == 'continue'
  assign custom_lieferzeit_in_tagen = product.metafields.custom.lieferzeit_in_tagen | default: ''
  assign codext_uhren_archiv = product.metafields.codext.uhren-archiv | default: false
-%}

{%- if not codext_uhren_archiv -%}
  <p class="delivery-time">
    <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M3.1875 16.125H1.125V5.625H14.625V16.125H6.5625M16.6875 16.125H14.625H16.6875ZM14.625 8.625H19.0875L20.7375 11.625H22.2C22.5 11.625 22.875 11.7 22.875 12.15V16.125H20.0625L14.625 8.625ZM20.7375 11.625H14.625H20.7375Z" stroke-linecap="round" stroke-linejoin="round" stroke="{% if custom_lieferzeit_in_tagen != '' %}#EFC82C{% else %}#59A72A{% endif %}" fill="none"></path>
      <path d="M4.875 19.875C6.11764 19.875 7.125 18.8676 7.125 17.625C7.125 16.3824 6.11764 15.375 4.875 15.375C3.63236 15.375 2.625 16.3824 2.625 17.625C2.625 18.8676 3.63236 19.875 4.875 19.875Z" stroke-linecap="round" stroke-linejoin="round" stroke="{% if custom_lieferzeit_in_tagen != '' %}#EFC82C{% else %}#59A72A{% endif %}" fill="none"></path>
      <path d="M18.375 19.875C19.6176 19.875 20.625 18.8676 20.625 17.625C20.625 16.3824 19.6176 15.375 18.375 15.375C17.1324 15.375 16.125 16.3824 16.125 17.625C16.125 18.8676 17.1324 19.875 18.375 19.875Z" stroke-linecap="round" stroke-linejoin="round" stroke="{% if custom_lieferzeit_in_tagen != '' %}#EFC82C{% else %}#59A72A{% endif %}" fill="none"></path>
      <path d="M8.05743 11.7873V12.666M5.42139 10.4693H10.6935V13.984H5.42139V10.4693ZM6.73941 10.4693V8.27255C6.73941 7.5494 7.33428 6.95453 8.05743 6.95453C8.78059 6.95453 9.37546 7.5494 9.37546 8.27255V10.4693H6.73941Z" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" stroke="{% if custom_lieferzeit_in_tagen != '' %}#EFC82C{% else %}#59A72A{% endif %}" fill="none"></path>
    </svg>&nbsp;
    
    {%- if total_stock > 0 -%}
      {{ 'product.form.in_stock' | t }}
    {%- elsif continue_selling or total_stock < 1 -%}
      {%- if custom_lieferzeit_in_tagen != '' -%}
        {%- if request.locale.iso_code == 'de' -%}
          Lieferzeit {{ custom_lieferzeit_in_tagen }} Tage
        {%- else -%}
          Delivery time {{ custom_lieferzeit_in_tagen }} days
        {%- endif -%}
      {%- else -%}
        Auf Anfrage
      {%- endif -%}
    {%- endif -%}
  </p>
{%- endif -%}