{% comment %}
  Diese Section zeigt Titel von Kollektionen an, die aus einem Metafeld vom Typ 'Kollektionenliste' stammen.
{% endcomment %}

<section>
  <div class="subcollections">
    {% comment %}Metafeld Debugging{% endcomment %}
    <p>Metafeld-Rohdaten: {{ collection.metafields.custom.subcollections }}</p>

    {% assign subcollections_handles = collection.metafields.custom.subcollections %}

    {% if subcollections_handles %}
      <p>Anzahl der Subkollektionen: {{ subcollections_handles | size }}</p>

      {% for handle in subcollections_handles %}
        {% assign subcollection = collections[handle] %}
        {% if subcollection %}
          <div class="subcollection">
            <h3>{{ subcollection.title }}</h3>
          </div>
        {% else %}
          <p>Subkollektion mit dem Handle '{{ handle }}' nicht gefunden.</p>
        {% endif %}
      {% endfor %}
    {% else %}
      <p>Keine Subkollektionen definiert.</p>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "presets": [
    {
      "name": "Codext-Subcollections"
    }
  ]
}
{% endschema %}

{% stylesheet %}
.subcollections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.subcollection {
  flex-basis: 30%;
  margin-bottom: 1em;
}
{% endstylesheet %}
