{% comment %}
  Diese Section zeigt standardmäßig Titel von Kollektionen an, die aus einem Metafeld vom Typ 'Kollektionenliste' stammen.
{% endcomment %}

<section>
  <div class="subcollections">
    {% assign subcollections = collection.metafields.custom.subcollections %}
    {% if subcollections %}
      {% for item in subcollections %}
        {% assign subcollection = collections[item] %}
        <div class="subcollection">
          <h3>{{ subcollection.title }}</h3>
        </div>
      {% endfor %}
    {% else %}
      <p>Keine Subkollektionen definiert.</p>
    {% endif %}
  </div>
</section>

{% stylesheet %}
.subcollections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.subcollection {
  flex-basis: 30%;
  margin-bottom: 1em;
}
{% endstylesheet %}